@model IEnumerable<VilaItalia.Models.Pagamento>
@Html.Partial("NavbarPartialView") @*Redenriza a NavBar, localizado em Shared/NavbarPartialView*@
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Balcao.BalcaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.DeliveryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesa.MesaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balcao.BalcaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery.DeliveryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa.MesaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PagamentoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PagamentoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PagamentoId })
            </td>
        </tr>
    }
</table>

@Html.Partial("FooterPartialView") @*Redenriza a footer, localizado em Shared/FooterPartialView*@

@Html.Partial("LogoutModalPartialView")@*Redenriza a mensagem de logout, localizado em Shared/LogoutModalPartialView*@

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
